.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head-link {
  color: #FFFFFF;
  margin: 0 8px;
  white-space: nowrap;
}

.head-link:hover {
  color: #D9D9D9;
  text-decoration: none;
}

.auth-link {
  color: #FFFFFF !important; 
  font-family: Roboto,sans-serif;
  font-size: 12px;
  margin-left: 10px;
  text-align: end;
}

.auth-link:hover {
  color:#D9D9D9 !important;
  text-decoration: underline;
}

.foot-link {
  color: #FFFFFF !important; 
  font-family: Roboto,sans-serif;
  font-size: 12px;
  margin-right: 20px;
}

.foot-link:hover {
  color:#D9D9D9 !important;
  text-decoration: underline;
}

.contacts {
  font-family: Rubik,sans-serif;
  font-weight: bold;
  letter-spacing: .031em;
}

.foot-text {
  font-family: Rubik,sans-serif;
  letter-spacing: .031em;
}

.about {
  font-size: 0.9rem;
}

.security a {
  font-size: 14px;
}

.created {
  font-size: 16px; 
  font-family: Rubik,sans-serif;
}

.created span {
  font-weight: bold;
}

.rights {
  font-size: 12px;
  font-family: Rubik,sans-serif;
  letter-spacing: .142em;
  font-weight: 500;
}

.main-back {
  padding-top: 170px;
  background: #D9D9D9;
}

.feed-back {
  padding-top: 120px;
  background: #E9E9E9;
}

.main-back hr {
  border-width: 1px;
  border-color: #000000;
}

.main-back h1 {
  color: #434343;
  font-family: Rubik,sans-serif;
  font-size: 32px;
}

.prof-pic {
  margin-left: 20px;
}

.head-descrip {
  color: #434343;
  font-family: Rubik,sans-serif;
}

.head-descrip p {
  margin-bottom: 5px;
}

.head-descrip img {
  height: 56px;
  width: 32px;
  padding-top: 20px;
}

.road-card {
  padding: 0 20px;
  padding-top: 30px;
}

.road-back {
  padding: 6px;
  background: #434343;
}

.road-card img {
  width: 100%;
  min-height: 32px; 
  filter: grayscale(1);
  padding-top: 5px;
}

.road-card-head {
  color: #434343;
  background: #D9D9D9;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;
  font-family: Rubik,sans-serif;
  font-weight: bold;
  padding: 6px 0;
}

.road-foot {
  padding-top: 55px;
  padding-bottom: 100px;
}

.board-foot {
  padding-bottom: 10px;
}

.board-quest {
  padding-top: 0px !important;
  background: #D9D9D9 !important;
}

.board-quest h2 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background: #D9D9D9 !important;
}

.board-quest .foot-text {
  padding-bottom: 10px;
}

.main-back .board-quest .card {
  background: #D9D9D9;
  border-bottom-width: 2px !important;
}

.board-quest .card-header {
  background: #D9D9D9 !important;
}

.foot-head {
  font-family: Rubik,sans-serif;
  letter-spacing: .045em;
  color: #434343;
  font-size: 23px;
  font-weight: 500;
  margin-top: 1rem;
}

.road-foot .foot-text {
  color: #434343;
  line-height: 1.75;
  margin-block-end: 0;
  margin-block-start: 0;
}

.road-foot ul {
  padding-left: 0;
}

.road-foot li {
  list-style: none;
}

.road-foot .footer-hr {
  border-width: 2px;
}

.count-list span {
  font-weight: bold;
}

.slider-card {
  width: 100%;
  display: inline-block;
  background: #1890ff;
}

@media (max-width: 767.98px) {
  footer p {
    text-align: center!important;
  }

  .security {
    display: flex;
    justify-content: center;
  }

  .security a {
    margin: 0 10px
  }
}

.alice-carousel__prev-btn {
  text-align: left;
  position: absolute;
  top: 200px;
  left: -30px;
  font-size: 3rem;
  color: #434343 !important;
  width: auto;
}

.alice-carousel__next-btn {
  text-align: right;
  position: absolute;
  top: 200px;
  right: -30px;
  font-size: 3rem;
  width: auto;
}

.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
  color: #434343;
}

.carousel-card {
  background: #434343;
  margin: 0 15px;
  height: 100%;
}

.carousel-card p {
  color: #FFFFFF;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.75;
  font-family: Rubik,sans-serif;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: .031em;
}

.carousel-card-back {
  padding: 75px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-card-ref {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 1.66;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFFFFF;
  border-width: 2px;
  border-radius: 8px;
  border-color: #555;
  border-style: solid;
}

.carousel-card-percent {
  padding: 10px;
  border-radius: 50%;
  color: #434343;
  border: 0;
  vertical-align: baseline;
  text-align: center;
  height: 100px;
  width: 100px;
  background: #D9D9D9;
  font-size: 32px;
  line-height: 80px;
}

.alice-carousel__stage-item {
  height: 500px;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
  background-color: #434343;
}

.alice-carousel {
  margin-top: 45px;
}

.feed-foot {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FFFFFF;
}

.feed-foot h2 {
  background: linear-gradient(0deg, #ffffff 0%, #e9e9e9 100%);
  text-align: center;
  letter-spacing: .042em;
  color: #434343;
  font-family: Playfair Display,serif;
  font-size: 48px;
  font-weight: 700;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.feed-foot .card {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  cursor: pointer;
}

.feed-foot .card-header {
  padding: 10px 0;
  font-family: Rubik,sans-serif;
  letter-spacing: .045em;
  color: #434343;
  font-size: 23px;
  font-weight: 500;
  background: #FFFFFF;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  display: flex;
  justify-content: space-between;
}

.my-card-header {
  width: 100%;
}

.feed-foot .card-body {
  padding: 0;
}

.feed-foot ul {
  padding: 0;
}

.feed-foot li {
  list-style: none;
  color: #434343;
}

.feed-foot .card-body span {
  font-weight: bold;
}

.feed-foot .card-body p {
  margin-bottom: 0;
  color: #434343;
}

.board-list {
  height: 600px;
  background: #FFFFFF;
  margin-top: 40px;
  margin-right: 120px;
  margin-left: 120px;
  padding: 20px;
}

@media (max-width: 991px) {
  .board-list {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.post-form {
  height: 600px;
  background: #FFFFFF;
  margin-top: 40px;
  padding: 20px;
}

.post-form h2 {
  text-align: center;
  font-size: 22px;
  color: #434343;
  font-family: Rubik,sans-serif;
  padding-top: 16px;
}

/*.post-form textarea {*/
.form-field {
  width: 100%;
  margin-top: 16px;
  outline: none;
  font-family: Rubik,sans-serif;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;
  color: #434343;
  resize: none;
}

/*.post-form button {*/
.form-btn {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  padding: 10px 14px;
  font-size: 12px;
  line-height: 1.66;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #555;
  font-family: Roboto,sans-serif;
}

.post-form-header {
  font-size: 18px;
}

@media (max-width: 767.99px) {
  .post-form {
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
  }

  .board-list {
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    max-height: 600px;
  }
}

.post-card {
  display: flex;
  max-height: 72px;
  margin-bottom: 20px;
}

.post-votes {
  color: #434343;
  border-color: #D9D9D9;
}

.vote-box {
  color: #434343;
  padding: 5px 5px;
  font-size: 15px;
  font-family: Rubik,sans-serif;
  border: 1px solid #9c9c9c;
  border-radius: 7px;
  width: min-content;display: flex;
  align-items: center;
  flex-direction: column;
}

.vote-box span {
  padding: 2px;
}

.vote-box img {
  cursor: pointer;
}

.post-content {
  padding-left: 20px;
}

.post-head {
  color: #434343;
  font-size: 18px;
  font-family: Rubik,sans-serif;
  cursor: pointer;
}

.board-title {
  color: #9c9c9c;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  font-family: Rubik,sans-serif;
  text-transform: uppercase;
}

.votes-col {
  height: 180px;
  padding: 20px;
}

.white-back {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.votes-box {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.vote-head {
  color: #9c9c9c;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  font-family: Rubik,sans-serif;
  padding-bottom: 10px;
}

.vote-avatars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 15px;
  letter-spacing: .01em;
  word-spacing: .02em;
  vertical-align: baseline;
  line-height: 1;
  font-family: Rubik,sans-serif;
  filter: grayscale(1);
}

.vote-avatar {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 -5px 0 -2px;
}

.more-votes {
  letter-spacing: .01em;
  word-spacing: .02em;
  font-size: 15px;
  align-self: center;
  margin: 0 0 0 10px;
  font-family: Rubik,sans-serif;
}

.no-avatar {
  font-size: 18px;
  color: #fff;
  width: 100%;
  height: 100%;
  background: #bbb;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  user-select: none;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  margin: 0 -5px 0 -2px;
}

.post-col {
  padding: 20px 0;
}

.post-header {
  display: flex;
  align-items: center;
}

.status-vote {
  margin: 0 10px 0 0;
}

.status-title {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.post-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: .02em;
  margin: -1px 0 0;
  color: #434343;
  font-family: Rubik,sans-serif;
}

.post-status {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .06em;
  text-transform: uppercase;
  line-height: 17px;
  margin: 5px 0 0;
  color: #9c9c9c;
}

.post-status-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px 0 0;
}

.user-avatar {
  display: flex;
  justify-content: center;
  min-width: 41px;
  margin: 0 13px 0 0;
  filter: grayscale(1);
}

.user-info {
  text-align: left;
  letter-spacing: .01em;
  line-height: 18px;
  font-size: 15px;
  font-family: Rubik,sans-serif;
}

.post-body {
  max-width: 800px;
  padding: 5px 30px 0 55px;
  word-wrap: break-word;
  word-break: break-word;
}

.details-post {
  margin: 0 0 15px;
  font-size: 15px;
  line-height: 22px;
  white-space: pre-wrap;
  margin-bottom: 0;
  color: #434343;
  font-family: Rubik,sans-serif;
}

.post-timestamp-link {
  padding: 0 55px;
  margin: 10px 0 30px;
  color: #888;
  font-size: 12px;
  line-height: 22px;
  font-family: Rubik,sans-serif;
}

.comment-composer {
  max-width: 800px;
  margin: 0 30px 0 55px;
}

.comment-composer textarea {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: text;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  line-height: 21px;
  resize: none;
  outline: none;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  transform-style: preserve-3d;
  opacity: 1;
  min-height: 21px;
}

.comment-avatar {
  margin-right: 16px;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  width: 40px;
  height: 40px;
  filter: grayscale(1);
}

.no-comment-avatar {
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
  filter: grayscale(1);
  text-align: center;
  font-size: 16px;
  font-family: Rubik,sans-serif;
  color: #FFFFFF;
}

.comment-renderer {
  flex: 1;
  flex-direction: column;
  display: flex;
  flex-basis: 1e-9px;
}

.comment-author {
  margin-bottom: 2px;
  align-items: baseline;
  flex-wrap: wrap;
  display: flex;
}

.comment-author-name {
  margin-right: 4px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.8rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-family: Rubik,sans-serif;
}

.comment-date {
  font-family: Rubik,sans-serif;
  color: #AAAAAA;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8rem;
}

.comment-content {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Rubik,sans-serif;
}

.comment-votes {
  margin-top: 4px;
  align-items: center;
  display: flex;
}

.like-icon {
  line-height: 1;
  padding: 8px 8px 8px 0;
  width: 28px;
  height: 36px;
}

.dislike-icon {
  line-height: 1;
  padding: 8px;
  width: 36px;
  height: 36px;
}

.comment-vote-count {
  display: inline-block;
  margin-right: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #555555;
  font-family: Rubik,sans-serif;
}

.reply-button {
  color: #555555;
  padding: 8px 16px;
  text-transform: uppercase;
  font-family: Rubik,sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.hide-button {
  padding: 2px 0 10px 0;
  white-space: nowrap;
  font-family: Rubik,sans-serif;
  font-size: 14px;
  font-weight: 500;
}

@import "react-alice-carousel/lib/alice-carousel.css";
/*@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);*/
